/*index*/
.pasaimagenes {
  margin: auto;
  width: 100%;
  display: flex;
  margin-bottom: 2%;
  background-image: url(../img/pasapantalla.jpg);
  background-repeat: no-repeat;
  background-size: 2000px 800px;
  height: 100vh; }

.textoindex {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: black;
  justify-items: center;
  text-shadow: 3px 3px 3px rgba(33, 33, 33, 0.784);
  font-size: 4rem;
  padding-top: 5%;
  margin-top: 7%;
  margin-bottom: 10%;
  margin-left: 25%;
  text-align: center;
  animation-duration: 5s;
  animation-name: aparecer; }

.textito {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 7rem;
  margin-right: 20%;
  margin-left: 10%; }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/*media query index*/
@media screen and (max-width: 320px) {
  .pasaimagenes {
    width: auto; }
  .textoindex {
    font-size: 1rem !important;
    font-weight: bold;
    justify-items: center;
    padding-top: 17%;
    margin-top: 100%;
    margin-left: 25%;
    margin-right: -65%;
    margin-bottom: 10%; }
  .textito {
    font-size: 2rem !important; } }

@media screen and (max-width: 768px) {
  .pasaimagenes {
    width: auto; }
  .textoindex {
    font-size: 2rem;
    font-weight: bold;
    justify-items: center;
    margin-top: 25%; }
  .textito {
    font-size: 4rem; } }

@media screen and (max-width: 992px) {
  .textoindex {
    margin-right: 15%; }
  .textito {
    margin-right: 15%; } }

.quienessomos {
  display: inline-block;
  background-image: url("../img/quienessomos.jpg");
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
  height: 100vh; }

.qs {
  display: inline-block;
  font-family: 'Koulen', cursive;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  width: 30%;
  text-align: justify;
  text-shadow: 3px 3px 3px rgba(63, 63, 63, 0.856);
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 27%;
  padding: 3px;
  text-align: center;
  border-bottom: 3px #0a081c solid; }
  .qs:hover {
    transform: scale(1.3, 1.3);
    border-bottom: 3px #0a081c solid;
    color: white;
    text-shadow: 3px 3px 3px rgba(63, 63, 63, 0.856); }

.qss {
  display: inline-block;
  align-content: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  width: 30%;
  text-align: justify;
  margin-left: 53%;
  margin-top: -30%;
  border-left: 3px #0a081c solid;
  text-shadow: 3px 3px 3px rgba(39, 39, 39, 0.615);
  border-radius: 1px;
  padding: 3px; }
  .qss:hover {
    transform: scale(1.03, 1.03); }

/*media query quienes somos*/
@media screen and (max-width: 320px) {
  .qs {
    font-size: 10px;
    color: white;
    margin-left: 38%;
    margin-top: 5%; }
  .quienessomos {
    width: 95%;
    padding-right: 1%;
    margin-bottom: 1%; }
  .qss {
    font-size: 0.7rem !important;
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-left: 38%;
    padding: 1%; }
  .navegador li {
    background-color: black;
    margin-top: 4.2%; } }

@media screen and (max-width: 820px) {
  .quienessomos {
    padding-top: 10%; }
  .qss {
    font-size: 0.9rem;
    color: white;
    text-align: center;
    padding: 1%;
    border-left: 3px #0a081c solid; }
  .qs {
    font-size: 1.1rem;
    color: white;
    margin-top: 20%; }
  .navegador li {
    background-color: black;
    margin-top: 4.2%;
    padding: 0.2%;
    font-size: 0.5rem; } }

/*proyectos*/
.proyectos {
  list-style: none;
  width: auto;
  margin-right: 5%; }

.ima {
  display: flex;
  width: 610px;
  height: 350px;
  margin-top: 5%;
  margin-left: 5%;
  padding: 5%;
  border: 3px #494949;
  border-radius: 0.5%;
  opacity: 0.9;
  animation-duration: 0.5s;
  animation-name: aparecer1; }
  .ima:hover {
    opacity: 1;
    transform: scale(1.1, 1.1);
    border: 3px #494949;
    border-radius: 0.5%; }

@keyframes aparecer1 {
  0% {
    opacity: 0; }
  100% {
    opacity: 0.9; } }

/*media query proyectos*/
@media screen and (max-width: 768px) {
  .proyectos {
    margin-left: -5% !important; }
  .ima {
    width: 290px !important;
    height: 150px !important; } }

@media screen and (max-width: 992px) {
  .row {
    flex-direction: column !important;
    margin-left: 15%; } }

@media screen and (max-width: 1200px) {
  .ima {
    width: 400px;
    height: 210px; } }

/*servicios*/
.servicios {
  background-image: url(../img/servicios.jpg);
  background-repeat: no-repeat;
  background-size: 2000px 1000px;
  height: 100vh; }

.serv {
  display: inline-block;
  font-size: 1rem;
  font-family: 'Koulen', cursive;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  width: 30%;
  text-align: justify;
  position: absolute;
  text-decoration: underline;
  margin-left: 57%;
  margin-right: 4%;
  margin-top: 15%;
  padding: 7px;
  text-align: center;
  text-shadow: 3px 3px 3px rgba(13, 13, 13, 0.601);
  border-right: black solid; }

.tipos {
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  width: 30%;
  text-align: justify;
  margin-left: 15%;
  margin-top: 10%; }
  .tipos .cuadrado {
    list-style-type: disc; }
    .tipos .cuadrado .a, .tipos .cuadrado .b, .tipos .cuadrado .c, .tipos .cuadrado .d, .tipos .cuadrado .e {
      animation-duration: 1s;
      animation-name: aparecer; }
      .tipos .cuadrado .a:hover, .tipos .cuadrado .b:hover, .tipos .cuadrado .c:hover, .tipos .cuadrado .d:hover, .tipos .cuadrado .e:hover {
        transform: scale(1.3, 1.3); }

@keyframes aparecer {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
    .tipos .cuadrado .b {
      animation-duration: 2s; }
    .tipos .cuadrado .c {
      animation-duration: 3s; }
    .tipos .cuadrado .d {
      animation-duration: 4s; }
    .tipos .cuadrado .e {
      animation-duration: 5s; }

/*media query servicios*/
@media screen and (max-width: 320px) {
  .servicios {
    margin-bottom: 3%; }
  .serv {
    font-size: 0.8rem;
    margin-top: 10%;
    margin-left: 20%;
    text-align: start; }
  .tipos {
    font-size: 0.8rem;
    margin-top: 70%;
    margin-left: 60%;
    text-align: end;
    list-style-type: square; } }

@media screen and (max-width: 600px) {
  .servicios {
    margin-bottom: 3%; }
  .serv {
    font-size: 0.7rem;
    margin-top: 20%;
    margin-left: 20%;
    text-align: start;
    border: none; }
  .tipos {
    font-size: 0.8rem;
    margin-top: 25%;
    margin-left: 60%;
    text-align: end; } }

.escribinos {
  margin-top: -0.3%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  background-image: url(../img/contacto.jpg);
  background-size: 2000px 800px;
  background-repeat: no-repeat;
  height: 100vh; }

.contacto {
  font-family: 'Koulen', cursive;
  margin-left: 43%;
  padding-top: 7%; }

form {
  font-family: 'Koulen', cursive;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 2rem;
  padding-right: 2%;
  color: #000000;
  font-size: 1.3rem; }

form button {
  background-color: #000000;
  font-family: 'Koulen', cursive;
  border-radius: 1px;
  justify-content: center;
  color: white;
  border: none;
  padding: 0.5rem;
  display: block;
  margin-left: auto;
  margin-right: auto; }

form button:hover {
  background-color: white;
  color: #000000;
  font-weight: bolder; }

form input {
  text-align: center;
  margin: 0.3rem;
  padding: 0.3rem;
  border-radius: 1px;
  transition: all 2s;
  width: 75%; }

form input:focus {
  width: 100%;
  font-size: 24px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul {
  list-style: none; }

body {
  background-color: white;
  min-height: 100vh;
  margin: 0.5%;
  animation: transitionIn 0.75s; }

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg); } }

.logo {
  background-color: white;
  padding: 0.8rem;
  margin-right: auto; }
  .logo a {
    text-decoration: none;
    color: black;
    font-family: 'Koulen', cursive;
    font-size: 1.5rem; }

header {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 0.1%; }

.navbar-toggler {
  border-color: black;
  background-color: white;
  border-radius: 1px; }

.navbar-expand-lg {
  background-color: white;
  width: 93%;
  height: 20;
  margin-bottom: 1%; }
  .navbar-expand-lg li a {
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 1.3rem;
    color: black;
    text-decoration: none;
    color: black; }
    .navbar-expand-lg li a:hover {
      color: white; }
  .navbar-expand-lg li:hover {
    background-color: black;
    height: auto;
    width: auto;
    transition: .5s;
    border-radius: 1px;
    opacity: 0.8; }

footer {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: bold;
  font-size: 0.7rem;
  text-align: justify;
  justify-content: center;
  animation-duration: 5s;
  animation-name: aparecer; }
  footer .red {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 18%;
    margin-top: 1%; }

/*media queries header y footer*/
@media screen and (max-width: 480px) {
  body {
    width: 100%; }
  header {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; }
  .navegador {
    width: 80%;
    justify-content: space-evenly;
    font-size: 8px;
    padding-bottom: 5%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 1%; } }

@media screen and (max-width: 820px) {
  body {
    width: 100%; }
  .navegador {
    justify-content: space-evenly;
    padding-bottom: 5%;
    margin-left: 15%;
    margin-top: 2%;
    margin-bottom: 1%; }
  footer {
    width: 85%;
    font-size: 0.4rem;
    justify-content: center;
    margin-left: 7%;
    margin-right: 18%; } }
