/*index*/
@mixin texto{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: black;
}  

.pasaimagenes {
    margin: auto;
    width: 100%;
    display: flex;
    margin-bottom: 2%;
    background-image: url(../img/pasapantalla.jpg);
    background-repeat: no-repeat;
    background-size: 2000px 800px;
    height: 100vh;

}


.textoindex {
    @include texto;
    justify-items: center;
    text-shadow: 3px 3px 3px rgba(33, 33, 33, 0.784);
    font-size: 4rem;
    padding-top: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 25%;
    text-align: center;
    animation-duration: 5s;
    animation-name: aparecer;

}

.textito {
    @include texto;
    font-size: 7rem;
    margin-right: 20%;
    margin-left: 10%;
}

@keyframes aparecer {
    0% {
        opacity: 0;

    }

    100% {
        opacity: 1;
    }
}


/*media query index*/
@media screen and (max-width:320px) {
    .pasaimagenes {
        width: auto;
    }

    .textoindex {
        font-size: 1rem !important;
        font-weight: bold;
        justify-items: center;
        padding-top: 17%;
        margin-top: 100%;
        margin-left: 25%;
        margin-right: -65%;
        margin-bottom: 10%;

    }

    .textito {
        font-size: 2rem !important;
    }
}

@media screen and (max-width:768px) {
    .pasaimagenes {
        width: auto;
    }


    .textoindex {
        font-size: 2rem;
        font-weight: bold;
        justify-items: center;
        margin-top: 25%;
    }

    .textito {
        font-size: 4rem;
    }
}