.pasaimagenes{
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr;
    grid-template-areas: "pasaimagenes pasaimagenes";
    margin-bottom: 2%;
    .pasa {
        display: flex;
        justify-self: stretch;
        margin-left: 0.5%;
        grid-area: pasaimagenes;
    }
    .textoindex {
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        color: black;
        font-size: 3rem;
        border: 4px solid rgb(0, 0, 0);
        border-radius: 1%;
        padding-top: 5%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
        margin-right: 0.5%;
        margin-left: 55%;
        justify-content: flex-end;
        grid-area: pasaimagenes;
        animation-duration: 5s;
        animation-name: aparecer;
        @keyframes aparecer {
            0% {
                opacity: 0;
        
            }
        
            100% {
                opacity: 1;
            }
        }
    }

}
