/*proyectos*/
.proyectos {
    list-style: none;
    width: auto;
}

.ima {
    display: flex;
    width: 610px;
    height: 350px;
    margin-top: 5%;
    margin-left: 5%;
    padding: 5%;
    border: 1px rgb(172, 171, 171);
    border-radius: 0.5%;
    opacity: 0.9;
    animation-duration: 0.5s;
    animation-name: aparecer1;
    &:hover{
        opacity: 1;
    transform: scale(1.1, 1.1);
    border: 1px rgb(172, 171, 171);
    border-radius: 0.5%;
    }
}

@keyframes aparecer1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.9;
    }

}

/*media query proyectos*/

@media screen and (max-width:768px) {
    .ima {
        width: 290px !important;
        height: 150px !important;

    }  
}


@media screen and (max-width:992px) {
    .row {
        flex-direction: column !important;
        margin-left: 15%;
    }
}

@media screen and (max-width:1200px) {
    .ima {
        width: 400px;
        height: 210px;
    }
}