@import "index";
@import "quienessomos";
@import "proyectos";
@mixin textito{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background-color: white;
    min-height: 100vh;
    margin: 0.5%;
    animation: transitionIn 0.75s;

    @keyframes transitionIn {
        from {
            opacity: 0;
            transform: rotateX(-10deg);
        }
    }

}

.logo {
    background-color: white;
    padding: 0.8rem;
    margin-right: auto;

    a {
        text-decoration: none;
        color: black;
        font-family: 'Koulen', cursive;
        font-size: 2rem;
    }
}

header {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 0.1%;
}

.navbar-toggler {
    border-color: black;
    background-color: rgb(255, 255, 255);
    border-radius: 1px;
    }


.navbar-expand-lg {
    background-color: rgb(255, 255, 255);
    width: 93%;
    height: 20;
    margin-bottom: 1%;

    li {
        a {
            text-decoration: none;
            font-family: 'Source Sans Pro', sans-serif;
            font-weight: bold;
            font-size: 1.3rem;
            color: rgb(0, 0, 0);
            text-decoration: none;
            color: rgb(0, 0, 0);

            &:hover {
                color: rgb(255, 255, 255);
            }
        }

        &:hover {
            background-color: rgb(0, 0, 0);
            height: auto;
            width: auto;
            transition: .5s;
            border-radius: 1px;
            opacity: 0.8;
        }
    }
}

footer {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 0.7rem;
    text-align: justify;
    justify-content: center;
    animation-duration: 5s;
    animation-name: aparecer;

}
/*media queries header y footer*/
@media screen and (max-width:480px) {
    body {
        width: 100%;
    }

    header {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;


    }

    .navegador {
        width: 80%;
        justify-content: space-evenly;
        font-size: 8px;
        padding-bottom: 5%;
        margin-left: 15%;
        margin-top: 2%;
        margin-bottom: 1%;
    }



}

@media screen and (max-width:820px) {
    body {
        width: 100%;
    }

    .navegador {
        justify-content: space-evenly;
        padding-bottom: 5%;
        margin-left: 15%;
        margin-top: 2%;
        margin-bottom: 1%;

    }

    footer {
        width: 85%;
        font-size: 0.4rem;
        justify-content: center;
        margin-left: 7%;
        margin-right: 18%;
    }

}