@import "header";
@import "footer";
@import "index";
$colorblack: black; 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    margin: 0.5%;
    animation: transitionIn 0.75s
}

@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX(-10deg);
    }
}


